<full-calendar #calendar [options]="calendarOptions"></full-calendar>

<div class="modal fade" id="ModalGoogleId" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModalGoogleId()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #formGoogleId="ngForm" (ngSubmit)="onSubmitGoogleId()">
            <div class="form-group">
              <label for="googleId">
                Google Calendar ID:
              </label>
              <input type="text" [(ngModel)]="googleId" name="googleId" clas="form-control">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!formGoogleId.valid">Save changes</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModalGoogleId()">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="ModalGoogleIdDel" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModalGoogleIdDel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitGoogleIdDel()">
          <div class="form-group">
            <label for="googleId">
              Google Calendar ID:
            </label>
            <select id="googleIddel" name="googleIdDel" [(ngModel)]="googleIdDel">
              <option *ngFor="let calendar of googleCalendars" [ngValue]="calendar.googleCalendarId" >{{calendar.googleCalendarId}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-danger">remove Calendar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModalGoogleIdDel()">Close</button>
      </div>
    </div>
  </div>
</div>
