<div class="col d-none d-md-block h-100 mh-100">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" (click)="select('1')" id="1">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
        <a href="#" class="list-group-item list-group-item-action" (click)="select('2')" id="2">A simple default</a>
    </div>
    <button type="button" class="btn btn-neon-add" data-bs-toggle="modal" data-bs-target="#exampleModal">
        add Rdv
    </button>
</div>
<div class="dropdown col d-md-none">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        Dropdown link
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>