/* You can add global styles to this file, and also import other style files */
:root{
    --main-bg-color : rgb(26, 8, 31);
    --main-color1: #62A87C;
    --main-color2: #7EE081;
    --main-color3: #C3F3C0;
    --main-color4: #235789;
    --main-color5: #48BEFF;
}

html, body{
    height: 100%;
    background-color: var(--main-bg-color) !important;
}

.fc-toolbar{
    margin-bottom:0 !important;
}
.fc-toolbar-chunk{
    color:var(--main-color1);
}
th.fc-day{
    background-color:var(--main-color4) !important;
    box-shadow: inset 0 0 0.5em 0 rgb(35, 27, 37) !important;
}
td.fc-day{
    background-color: var(--main-color5) !important;
    box-shadow: inset 0 0 0.5em 0 rgb(35, 27, 37) !important;
}

.cardHeader,.cardFooter{
    background-color:var(--main-color1) !important;
    box-shadow: inset 0 0 0.5em 0 rgb(35, 27, 37) !important;
}
.cardBody{
    box-shadow: inset 0 0 0.5em 0 rgb(35, 27, 37) !important;
}

.btn-neon-add{
    display: inline-block!important;
    border: 0.2em solid rgb(60, 170, 45)!important;
    font-weight: bold!important;
    color: rgb(60, 170, 45)!important;
    box-shadow: 0 0 0.5em 0 rgb(60, 170, 45)!important;
}

.btn-neon-add:hover{
    color: rgb(80, 214, 63)!important;
    border: 0.2em solid rgb(80, 214, 63)!important;
    box-shadow: 0 0 0.5em 0 rgb(60, 170, 45)!important;
}

.btn-neon-add:focus{
    display: inline-block;
    border: 0.2em solid rgb(60, 170, 45)!important;
    font-weight: bold!important;
    color: rgb(26, 8, 31)!important;
    box-shadow: 0 0 0.5em 0 rgb(60, 170, 45)!important;
    background-color: rgb(60, 170, 45)!important;
}

.btn-neon{
    display: inline-block;
    border: 0.2em solid rgb(45, 155, 170) !important;
    color: rgb(45, 155, 170) !important;
    box-shadow: 0 0 0.5em 0 rgb(45, 155, 170);
}
